<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"></include>
  <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"></include> -->
  <node pkg="rbe3002" type="Robot.py" name="zyang2" />
</launch>
